/*

Styles For About Site

*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height:100%;
}

.top {
    display: flex;
    justify-content:space-evenly;
    font-size: 2rem;
    height: 30rem;
    width: 100%;
    background-color: #31363f;
    align-items: center;
}

.top > :not(:nth-child(3)) {
    color: #fefefe;
    padding: 3.375rem;
    transition: color 0.5s ease;
}

.top > :not(:nth-child(3)):hover {
    color: orange;
}

.top > :nth-child(3) {
    color: orange;
    padding-bottom: 16.8rem;
    padding-left: 3.375rem;
    padding-right: 3.375rem;
    transition: color 0.5s ease;
}

.top > :nth-child(3):hover {
    color: white;
}

a {
    color: #fefefe;
    text-decoration: none;
}

.line {
    height: 0.1vh;
    background-color: white;
}

.middle {
    display: flex;
    flex-direction: column;
    color: #fefefe;
    font-size: 1.875rem;
    height: auto;
    background-color: #222831;
    letter-spacing: 0.063rem;
    padding-left: 3rem;
}

.circle {
    height: 20.25rem;
    width: 27rem;
    border-radius: 50%;
    background-color: #ffffff;
    top: 6.75rem;
}   
.left {
    padding-top: 3.375rem;
    padding-left: 3.375rem;
}

.right {
    color: #fefefe;
    padding: 3.375rem;
}

#main {
    position: relative;
    animation: HomeUpandShake 2s ease;
}

#anim {
    position: relative;
    animation: Up 2s ease;
}

@media screen and (max-width: 64rem) {
    .top {
        flex-direction: column;
        height: auto;
    }
    
    .top > :not(:nth-child(3)) {
        padding: 1.35rem 0;
    }
    
    .top > :nth-child(3) {
        padding: 0;
    }
    
    .middle {
        height: auto;
    }
    
    .circle {
        height: 20rem;
        width: 30rem;
    }
    
    .left {
        padding: 1.35rem 0;
    }
    
    .right {
        padding: 1.35rem 0;
    }
    
    #anim {
        position: relative;
        animation: UpForPhone 2s ease;
    }

    #main {
        position: relative;
        animation: HomeUpandShakeForPhone 2s ease;
    }
}

@keyframes Up {
    0% {
        top: 9.45rem;
    }
    100% {
        top: 0;
    }
}

@keyframes UpForPhone {
    0% {
        top: 4rem;
    }
    100% {
        top: 0;
    }
}

@keyframes HomeUpandShake {
    0% {
        top: 10.125rem;
    }
    50% {
        top: 0;
    }
    55% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    65% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(0deg);
    }
}
@keyframes HomeUpandShakeForPhone {
    0% {
        top: 4rem;
    }
    75% {
        top: 0
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    95% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}